@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.spinner {
   position: relative;
   width: 33.6px;
   height: 33.6px;
   perspective: 67.2px;
}

.spinner div {
   width: 100%;
   height: 100%;
   background: #ffffff;
   position: absolute;
   left: 50%;
   transform-origin: left;
   animation: spinner-16s03x 2.4s infinite;
}

.spinner div:nth-child(1) {
   animation-delay: 0.18s;
}

.spinner div:nth-child(2) {
   animation-delay: 0.36s;
}

.spinner div:nth-child(3) {
   animation-delay: 0.54s;
}

.spinner div:nth-child(4) {
   animation-delay: 0.72s;
}

.spinner div:nth-child(5) {
   animation-delay: 0.8999999999999999s;
}

@keyframes spinner-16s03x {
   0% {
      transform: rotateY(0deg);
   }

   50%, 80% {
      transform: rotateY(-180deg);
   }

   90%, 100% {
      opacity: 0;
      transform: rotateY(-180deg);
   }
}


.active{
   border: solid 2px rgb(82, 77, 112);
   background-color: rgba(52, 68, 83, 0.815);
}